{% extends "layout.html" %}
{% block content %}
<head>



</head>


<body >
	
	<div class="background-wrap">
<style>
body {
  background-image: url('background.jpg');
}
</style>         
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

<h1><center><img border=0 src="{{ url_for('static', filename='img/logo.png') }}" alt="name" width="200" /></center></h1>

<br><br>
<br><br>
    <center><h1>404, Address not found. Are you lost?</h1></center>



<br>







{% endblock content %}